.header {
  padding: 1px;
  text-align: center;
  background:gray;
  color: white;
  height:35px;
  width:auto;
  
}
.header img {
  float: left;
  width: 60px;
  height: 33px;
  background: grey;
}

.header h3 {
  position: relative;
 
  padding-right:62px; 
 
}
  html, body {
    height: 100%;
  }
  
  .full-height {
    height: 100%;
  }
  
  label {
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    text-align: center;
  
    }
  
  
  /* Full-width inputs */
  input[type=text]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    align-content: center;
    text-align: center;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  .title{
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 15px;
  }
  html,body{
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0; 
   
    overflow:hidden;
    display:block;
    box-sizing: border-box;
}  
#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1200px;
  margin: 0 auto; 
}

* {
margin: 0;
padding: 0;
}





.scrollabletextbox {
height:100px;
width:200px;
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
font-size: 82%;
overflow:scroll;
}

textarea.md-textarea-scroll{
overflow-y: visible;
}
textarea.md-textarea {
padding: 0;
resize: none;
min-height: 3rem;
}
html,
body {
width: 100%;
height: 100%;
min-height: 100%;

color: #efefef;
}

.container {
max-width: unset;
}

.title {
background: grey;
padding: 2px;
width: 100%;
height:30px;
font-size: 5px;
color: aliceblue;
bottom: 0px;
right: 0px;
left: 0px;
text-align: center;
text-decoration: none;
margin-top: 5px;
margin-bottom: 10px;
}

#item img {
max-width: 100%;
}


body {
  margin: 0;
  padding: 0;
  background-color: rgba(128, 126, 126, 0.185);
  height: 100vh;
}

